html, body {
  height: 100%;
}

.hero-img {
  background: url('images/sandy-millar-nuS2GDpCDoI-unsplash-Recovered.jpg') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  top: 0;
  left: 0;
}

.hero-img::before {
  background-color: rgb(107, 175, 45);
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  mix-blend-mode: darken;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(8px);
}

.hero-img::after {
  background-color: rgb(26, 58, 92);
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  max-height: 50px;
}